# Exploratory Data Analysis

In [1]:
import os
import pandas as pd

In [2]:
TRAIN_FILENAME = '../data/data-for-processing/chunk_011_train.csv'

In [3]:
df = pd.read_csv(TRAIN_FILENAME)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423856 entries, 0 to 423855
Data columns (total 8 columns):
key                  423856 non-null object
fare_amount          423856 non-null float64
pickup_datetime      423856 non-null object
pickup_longitude     423856 non-null float64
pickup_latitude      423856 non-null float64
dropoff_longitude    423855 non-null float64
dropoff_latitude     423855 non-null float64
passenger_count      423856 non-null int64
dtypes: float64(5), int64(1), object(2)
memory usage: 25.9+ MB

In [6]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-30 09:25:00.00000094,6.5,2009-06-30 09:25:00 UTC,-73.99042,40.718840,-74.000060,40.727894,1
1,2009-09-28 18:04:43.0000001,5.7,2009-09-28 18:04:43 UTC,-73.97476,40.749065,-73.983955,40.736130,1
2,2010-05-22 22:54:51.0000003,10.9,2010-05-22 22:54:51 UTC,-73.98173,40.722240,-74.006420,40.708412,1
3,2013-10-24 20:03:46.0000004,8.0,2013-10-24 20:03:46 UTC,-73.99038,40.751507,-74.005200,40.741460,2
4,2013-12-20 00:52:00.00000041,9.5,2013-12-20 00:52:00 UTC,-73.97743,40.668260,-73.951930,40.683826,1

- `pickup_datetime`进行如下拆分:
    + `pickup_year`
    + `pickup_month`
    + `pickup_day`
    + `pickup_hour`
    + `pickup_min`
    + `pickup_sec`
    + `pickup_timezone`
    + `pickup_weekday`