In [1]:
import pandas as pd

In [2]:
TRAIN_DATA = '../data/data-for-processing/cleaned_train.feather'
TEST_DATA = '../data/data-for-processing/cleaned_test.feather'
pd.set_option('max_columns', 50)

In [3]:
train_df = pd.read_feather(TRAIN_DATA)
test_df = pd.read_feather(TEST_DATA)

/home/solomon/anaconda3/envs/py3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [4]:
train_df.head(10)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,reserved_flag,pickup_datetime_utc,pickup_datetime_local,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_weekday,pickup_days_in_year,pickup_days_sin,pickup_days_cos,pickup_seconds_in_day,pickup_seconds_sin,pickup_seconds_cos,pickup_weekday_sin,pickup_weekday_cos,pickup_time_class,pickup_mha,dropoff_mha,mha_flag,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-1.288826,0.710721,-1.288779,0.710563,1,0,2009-06-15 17:26:21+00:00,2009-06-15 13:26:21-04:00,2009,6,15,13,26,21,0,165,0.296713,-0.954967,48381,-0.367922,-0.929857,0.000000,1.000000,2,False,False,False,0.000047,-0.000158,1.030764,-0.000089,20.265840,55.176046,14.342611,34.543548,27.572573
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-1.291824,0.710546,-1.291182,0.711780,1,0,2010-01-05 16:52:16+00:00,2010-01-05 11:52:16-05:00,2010,1,5,11,52,16,1,4,0.068802,0.997630,42736,0.033737,-0.999431,0.781831,0.623490,1,True,True,True,0.000642,0.001234,8.450134,-0.001214,44.667679,31.832358,23.130775,15.125872,8.755732
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-1.291242,0.711418,-1.291391,0.711231,2,0,2011-08-18 00:35:00+00:00,2011-08-17 20:35:00-04:00,2011,8,17,20,35,0,2,228,-0.705584,-0.708627,74100,-0.779884,0.625923,0.974928,-0.222521,4,True,True,True,-0.000148,-0.000187,1.389525,0.000281,43.597686,33.712082,19.865289,17.722624,9.847344
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,-1.291319,0.710927,-1.291396,0.711363,1,0,2012-04-21 04:30:42+00:00,2012-04-21 00:30:42-04:00,2012,4,21,0,30,42,5,111,0.942761,-0.333469,1842,0.133554,0.991042,-0.974928,-0.222521,0,True,True,True,-0.000077,0.000435,2.799270,0.000147,42.642965,32.556289,21.063132,15.738963,7.703421
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-1.290987,0.711536,-1.290787,0.711811,1,0,2010-03-09 07:51:00+00:00,2010-03-09 02:51:00-05:00,2010,3,9,2,51,0,1,67,0.914128,0.405426,10260,0.678801,0.734323,0.781831,0.623490,0,True,True,True,0.000200,0.000275,1.999157,-0.000378,43.329953,39.406828,15.219339,23.732406,15.600745
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45,-1.291560,0.710901,-1.291071,0.711365,1,0,2011-01-06 09:50:45+00:00,2011-01-06 04:50:45-05:00,2011,1,6,4,50,45,3,5,0.085965,0.996298,17445,0.954696,0.297583,0.433884,-0.900969,0,True,True,True,0.000490,0.000464,3.787239,-0.000928,42.335622,32.824930,20.648176,15.741133,7.649541
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00,-1.291195,0.711251,-1.291086,0.711481,1,0,2012-11-20 20:35:00+00:00,2012-11-20 15:35:00-05:00,2012,11,20,15,35,0,1,324,-0.648630,0.761104,56100,-0.806445,-0.591310,0.781831,0.623490,2,True,True,True,0.000108,0.000230,1.555807,-0.000205,42.563234,35.482608,18.113693,19.126670,10.993150
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00,-1.290694,0.711643,-1.291371,0.711240,1,0,2012-01-04 17:22:00+00:00,2012-01-04 12:22:00-05:00,2012,1,4,12,22,0,2,3,0.051620,0.998667,44520,-0.095846,-0.995396,0.974928,-0.222521,2,True,True,True,-0.000677,-0.000403,4.155444,0.001285,42.533214,36.829343,16.949505,20.548489,12.449213
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00,-1.291656,0.710815,-1.291423,0.710901,1,0,2012-12-03 13:10:00+00:00,2012-12-03 08:10:00-05:00,2012,12,3,8,10,0,0,337,-0.463550,0.886071,29400,0.843391,-0.537300,0.000000,1.000000,1,True,True,True,0.000234,0.000086,1.253232,-0.000443,42.240568,29.608237,23.942272,11.667601,3.637447
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00,-1.291206,0.710940,-1.291396,0.711364,2,0,2009-09-02 01:11:00+00:00,2009-09-01 21:11:00-04:00,2009,9,1,21,11,0,1,243,-0.863142,-0.504961,76260,-0.672367,0.740218,0.781831,0.623490,4,True,True,True,-0.000190,0.000424,2.849627,0.000360,42.218767,33.106804,20.538553,16.193381,8.129651

In [5]:
test_df.head(10)

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_datetime_utc,pickup_datetime_local,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_weekday,pickup_days_in_year,pickup_days_sin,pickup_days_cos,pickup_seconds_in_day,pickup_seconds_sin,pickup_seconds_cos,pickup_weekday_sin,pickup_weekday_cos,pickup_time_class,pickup_mha,dropoff_mha,mha_flag,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24,-1.291078,0.711463,-1.291220,0.711114,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,1,27,8,8,24,1,26,0.432776,0.901502,29304,0.847122,-0.531399,0.781831,0.623490,1,True,True,True,-0.000142,-0.000349,2.323260,0.000268,42.055277,35.042878,18.501273,18.309374,10.095252
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24,-1.291314,0.710687,-1.291524,0.711033,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,1,27,8,8,24,1,26,0.432776,0.901502,29304,0.847122,-0.531399,0.781831,0.623490,1,True,True,True,-0.000210,0.000346,2.425353,0.000397,41.244373,30.827012,23.023659,12.664639,4.599471
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44,-1.291239,0.711244,-1.291189,0.711154,1,2011-10-08 11:53:44+00:00,2011-10-08 07:53:44-04:00,2011,10,8,7,53,44,5,280,-0.994218,0.107381,28424,0.879372,-0.476136,-0.974928,-0.222521,0,True,True,True,0.000050,-0.000089,0.618628,-0.000095,41.831497,33.993679,19.353797,17.018308,8.797452
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12,-1.291215,0.711532,-1.291377,0.711250,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,12,1,16,12,12,5,335,-0.493776,0.869589,58332,-0.891402,-0.453213,-0.974928,-0.222521,3,True,True,True,-0.000162,-0.000282,1.961033,0.000307,43.964285,34.268523,19.525661,18.544904,10.709378
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12,-1.290951,0.711916,-1.291344,0.711124,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,12,1,16,12,12,5,335,-0.493776,0.869589,58332,-0.891402,-0.453213,-0.974928,-0.222521,3,True,True,True,-0.000393,-0.000791,5.387301,0.000746,44.128523,36.440152,18.414857,20.732468,12.752865
5,2012-12-01 21:12:12.0000005,2012-12-01 21:12:12,-1.290863,0.711493,-1.291180,0.711048,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,12,1,16,12,12,5,335,-0.493776,0.869589,58332,-0.891402,-0.453213,-0.974928,-0.222521,3,True,True,True,-0.000318,-0.000445,3.222549,0.000602,41.008939,36.107423,17.437571,18.919292,10.555825
6,2011-10-06 12:10:20.0000001,2011-10-06 12:10:20,-1.290654,0.711627,-1.290839,0.711586,1,2011-10-06 12:10:20+00:00,2011-10-06 08:10:20-04:00,2011,10,6,8,10,20,3,278,-0.997325,0.073095,29420,0.842609,-0.538526,0.433884,-0.900969,1,True,True,True,-0.000185,-0.000040,0.929601,0.000351,41.729422,40.213344,13.810117,23.889770,15.589303
7,2011-10-06 12:10:20.0000003,2011-10-06 12:10:20,-1.287656,0.709418,-1.291283,0.711385,1,2011-10-06 12:10:20+00:00,2011-10-06 08:10:20-04:00,2011,10,6,8,10,20,3,278,-0.997325,0.073095,29420,0.842609,-0.538526,0.433884,-0.900969,1,False,True,False,-0.003627,0.001968,21.540102,0.006847,22.670048,50.556068,26.276216,32.299854,26.064641
8,2011-10-06 12:10:20.0000002,2011-10-06 12:10:20,-1.291790,0.710517,-1.291458,0.711071,1,2011-10-06 12:10:20+00:00,2011-10-06 08:10:20-04:00,2011,10,6,8,10,20,3,278,-0.997325,0.073095,29420,0.842609,-0.538526,0.433884,-0.900969,1,True,True,True,0.000331,0.000554,3.873962,-0.000628,42.754126,28.763656,25.154591,10.565089,3.992362
9,2014-02-18 15:22:20.0000002,2014-02-18 15:22:20,-1.291013,0.711493,-1.291207,0.711583,1,2014-02-18 15:22:20+00:00,2014-02-18 10:22:20-05:00,2014,2,18,10,22,20,1,48,0.735417,0.677615,37340,0.413369,-0.910563,0.781831,0.623490,1,True,True,True,-0.000194,0.000091,1.099794,0.000367,43.703994,36.699447,17.399029,21.116902,13.149156

In [6]:
train_df.loc[:, 'reserved_flag'].value_counts()

0    97
2     3
Name: reserved_flag, dtype: int64

In [7]:
train_df.loc[:, 'pickup_year'].value_counts()

2011    22
2013    17
2012    16
2014    13
2010    12
2009    12
2015     8
Name: pickup_year, dtype: int64

In [8]:
test_df.loc[:, 'pickup_year'].value_counts()

2011    2055
2014    1902
2010    1753
2012    1428
2013    1135
2009    1022
2015     619
Name: pickup_year, dtype: int64

In [9]:
train_df.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'reserved_flag', 'pickup_datetime_utc',
       'pickup_datetime_local', 'pickup_year', 'pickup_month', 'pickup_day',
       'pickup_hour', 'pickup_minute', 'pickup_second', 'pickup_weekday',
       'pickup_days_in_year', 'pickup_days_sin', 'pickup_days_cos',
       'pickup_seconds_in_day', 'pickup_seconds_sin', 'pickup_seconds_cos',
       'pickup_weekday_sin', 'pickup_weekday_cos', 'pickup_time_class',
       'pickup_mha', 'dropoff_mha', 'mha_flag', 'longitude_delta',
       'latitude_delta', 'haver_dist', 'bear_dist', 'jfk_dist', 'ewr_dist',
       'lga_dist', 'liberty_dist', 'nyc_dist'],
      dtype='object')

In [10]:
test_df.columns

Index(['key', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'passenger_count',
       'pickup_datetime_utc', 'pickup_datetime_local', 'pickup_year',
       'pickup_month', 'pickup_day', 'pickup_hour', 'pickup_minute',
       'pickup_second', 'pickup_weekday', 'pickup_days_in_year',
       'pickup_days_sin', 'pickup_days_cos', 'pickup_seconds_in_day',
       'pickup_seconds_sin', 'pickup_seconds_cos', 'pickup_weekday_sin',
       'pickup_weekday_cos', 'pickup_time_class', 'pickup_mha', 'dropoff_mha',
       'mha_flag', 'longitude_delta', 'latitude_delta', 'haver_dist',
       'bear_dist', 'jfk_dist', 'ewr_dist', 'lga_dist', 'liberty_dist',
       'nyc_dist'],
      dtype='object')

In [11]:
TRAIN_DATA = '../data/data-for-training/cleaned_train.feather'
TEST_DATA = '../data/data-for-training/cleaned_test.feather'
train_df = pd.read_feather(TRAIN_DATA)
test_df = pd.read_feather(TEST_DATA)

/home/solomon/anaconda3/envs/py3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [12]:
train_df.head()

,key,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_days_sin,pickup_days_cos,pickup_seconds_sin,pickup_seconds_cos,pickup_weekday_sin,pickup_weekday_cos,pickup_time_class,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist,fare_amount,pickup_year_2008,pickup_year_2009,pickup_year_2010,pickup_year_2011,pickup_year_2012,pickup_year_2013,pickup_year_2014,pickup_year_2015
0,2009-06-15 17:26:21.0000001,-1.288826,0.710721,-1.288779,0.710563,1,0.296713,-0.954967,-0.367922,-0.929857,0.000000,1.000000,2,0.000047,-0.000158,1.030764,-0.000089,20.265840,55.176046,14.342611,34.543548,27.572573,4.5,0,1,0,0,0,0,0,0
1,2010-01-05 16:52:16.0000002,-1.291824,0.710546,-1.291182,0.711780,1,0.068802,0.997630,0.033737,-0.999431,0.781831,0.623490,1,0.000642,0.001234,8.450134,-0.001214,44.667679,31.832358,23.130775,15.125872,8.755732,16.9,0,0,1,0,0,0,0,0
2,2011-08-18 00:35:00.00000049,-1.291242,0.711418,-1.291391,0.711231,2,-0.705584,-0.708627,-0.779884,0.625923,0.974928,-0.222521,4,-0.000148,-0.000187,1.389525,0.000281,43.597686,33.712082,19.865289,17.722624,9.847344,5.7,0,0,0,1,0,0,0,0
3,2012-04-21 04:30:42.0000001,-1.291319,0.710927,-1.291396,0.711363,1,0.942761,-0.333469,0.133554,0.991042,-0.974928,-0.222521,0,-0.000077,0.000435,2.799270,0.000147,42.642965,32.556289,21.063132,15.738963,7.703421,7.7,0,0,0,0,1,0,0,0
4,2010-03-09 07:51:00.000000135,-1.290987,0.711536,-1.290787,0.711811,1,0.914128,0.405426,0.678801,0.734323,0.781831,0.623490,0,0.000200,0.000275,1.999157,-0.000378,43.329953,39.406828,15.219339,23.732406,15.600745,5.3,0,0,1,0,0,0,0,0

In [13]:
test_df.head()

,key,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_days_sin,pickup_days_cos,pickup_seconds_sin,pickup_seconds_cos,pickup_weekday_sin,pickup_weekday_cos,pickup_time_class,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist,fare_amount,pickup_year_2008,pickup_year_2009,pickup_year_2010,pickup_year_2011,pickup_year_2012,pickup_year_2013,pickup_year_2014,pickup_year_2015
0,2015-01-27 13:08:24.0000002,-1.291078,0.711463,-1.291220,0.711114,1,0.432776,0.901502,0.847122,-0.531399,0.781831,0.623490,1,-0.000142,-0.000349,2.323260,0.000268,42.055277,35.042878,18.501273,18.309374,10.095252,NaN,0,0,0,0,0,0,0,1
1,2015-01-27 13:08:24.0000003,-1.291314,0.710687,-1.291524,0.711033,1,0.432776,0.901502,0.847122,-0.531399,0.781831,0.623490,1,-0.000210,0.000346,2.425353,0.000397,41.244373,30.827012,23.023659,12.664639,4.599471,NaN,0,0,0,0,0,0,0,1
2,2011-10-08 11:53:44.0000002,-1.291239,0.711244,-1.291189,0.711154,1,-0.994218,0.107381,0.879372,-0.476136,-0.974928,-0.222521,0,0.000050,-0.000089,0.618628,-0.000095,41.831497,33.993679,19.353797,17.018308,8.797452,NaN,0,0,0,1,0,0,0,0
3,2012-12-01 21:12:12.0000002,-1.291215,0.711532,-1.291377,0.711250,1,-0.493776,0.869589,-0.891402,-0.453213,-0.974928,-0.222521,3,-0.000162,-0.000282,1.961033,0.000307,43.964285,34.268523,19.525661,18.544904,10.709378,NaN,0,0,0,0,1,0,0,0
4,2012-12-01 21:12:12.0000003,-1.290951,0.711916,-1.291344,0.711124,1,-0.493776,0.869589,-0.891402,-0.453213,-0.974928,-0.222521,3,-0.000393,-0.000791,5.387301,0.000746,44.128523,36.440152,18.414857,20.732468,12.752865,NaN,0,0,0,0,1,0,0,0